@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* -- My Styles -- */

.container{
  display: flex;
  max-width: 920px;
  border-radius: 0.5rem;
}

.column{
  padding: 48px 48px;
}

.sedans{
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.4rem 0 0 0.4rem;

}

.suvs{
  background-color: hsl(184, 100%, 22%);
}

.luxury{
  background-color: hsl(179, 100%, 13%);
  border-radius:  0 0.4rem 0.4rem 0;
}

.column img{
  margin-bottom: 40px;
}

p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 86.5px;
}

h2{
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-size: 2.375rem;
  margin-bottom: 20px;
}

p, button{
  font-family: 'Lexend Deca', sans-serif;
}

button{
  padding: 12px 32px;
  border-radius: 50px;
  border-style: none;
  
}

button:hover{
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  
}

.sedans button{
  color: hsl(31, 77%, 52%);
}

.sedans button:hover{
  color: hsl(30, 12%, 97%);
}


.suvs button{
  color: hsl(184, 100%, 22%);
}

.suvs button:hover{
  color: hsl(30, 12%, 97%);
}

.luxury button{
  color: hsl(179, 100%, 13%);
}

.luxury button:hover{
  color: hsl(30, 12%, 97%);
}

@media (max-width: 768px ){
  .container{
    flex-direction: column;
    margin: 88px 24px;
    
  }

  article{
    max-width: 100%;
    justify-content: center;
    
  }

  p{
   margin-bottom: 26px;
  }


  .sedans{
    border-radius: 0.4rem 0.4rem 0 0 ;
  
  }
  
  .luxury{
    border-radius:  0  0 0.4rem 0.4rem;
  }
}